<div class="row">
    <form class="col s12">
      <h2> Login </h2>

      <div class="row">
        <div class="input-field col s12">
          <input  id="user" type="text" class="validate">
          <label for="first_name">Usuário</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Senha</label>
        </div>
      </div>
      <button  class="waves-effect waves-light btn" type="submit" name="button">Entrar</button>
    </form>
  </div>
